S3method(as.data.frame,bioleak_split_spec)
S3method(as.data.frame,bioleak_split_spec_validation)
S3method(as.data.frame,dependency_constraint)
S3method(as.data.frame,depgraph_validation_report)
S3method(as.data.frame,graph_edge_set)
S3method(as.data.frame,graph_node_set)
S3method(as.data.frame,graph_query_result)
S3method(as.data.frame,leakage_constraint)
S3method(as.data.frame,leakage_risk_summary)
S3method(as.data.frame,split_constraint)
S3method(plot,dependency_graph)
S3method(print,bioleak_split_spec)
S3method(print,bioleak_split_spec_validation)
S3method(print,dependency_constraint)
S3method(print,depgraph_validation_report)
S3method(print,dependency_graph)
S3method(print,graph_edge_set)
S3method(print,graph_node_set)
S3method(print,graph_query_result)
S3method(print,leakage_constraint)
S3method(print,leakage_risk_summary)
S3method(print,split_constraint)
S3method(summary,bioleak_split_spec)
S3method(summary,bioleak_split_spec_validation)
S3method(summary,dependency_constraint)
S3method(summary,depgraph_validation_report)
S3method(summary,dependency_graph)
S3method(summary,graph_edge_set)
S3method(summary,graph_node_set)
S3method(summary,graph_query_result)
S3method(summary,leakage_constraint)
S3method(summary,leakage_risk_summary)
S3method(summary,split_constraint)
export(as_bioleak_split_spec)
export(as_igraph)
export(bioleak_split_spec)
export(bioleak_split_spec_validation)
export(build_depgraph)
export(build_dependency_graph)
export(create_edges)
export(create_nodes)
export(detect_dependency_components)
export(detect_shared_dependencies)
export(dependency_constraint)
export(dependency_graph)
export(derive_split_constraints)
export(graph_edge_set)
export(graph_node_set)
export(graph_query_result)
export(grouping_vector)
export(ingest_metadata)
export(leakage_constraint)
export(leakage_risk_summary)
export(new_depgraph)
export(new_depgraph_edges)
export(new_depgraph_nodes)
export(query_edge_type)
export(query_neighbors)
export(query_node_type)
export(query_paths)
export(query_shortest_paths)
export(split_constraint)
export(summarize_leakage_risks)
export(validate_graph)
export(validate_bioleak_split_spec)
export(validate_depgraph)
importFrom(graphics,plot)
importFrom(igraph,ecount)
importFrom(igraph,graph_from_data_frame)
importFrom(igraph,vcount)
